.articles {
    padding: 0;
    margin-bottom: 20px;
}
#articles-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 10px 40px;
}
#articles-table > div {
    display: grid;
    grid-template-columns: 2fr 3.2fr;
    gap: 20px;
}
#articles-table > div > a > img {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
#articles-table > div > div > a {
    width: 100%;
}
#articles-table > div > div > a > p {
    line-height: 130%;
    font-size: 16px;
}
#articles-table > div > div > a > div {
    width: 100%;
    justify-content: start;
}
#articles-table > div > div > a > div > img {
    width: 20px;
    border-radius: 200px;
    border: 1px solid var(--border-color);
}
#articles-table > div > div > a > div > p {
    color: gray;
    font-size: 14px;
}

.more-articles {
    display: flex;
    height: 10px;
    padding: 20px;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    gap: 5px;
}
.more-articles > div.img {
    width: 14px; height: 14px;
    background-image: url('/assets/images/icon_set_default.png');
    background-size: 462px 462px;
    background-position: -450px -197px;
    background-repeat: no-repeat;
}