footer {
    display: flex;
    width: 100%;
    background-color: #f4f5f7;
    border-top: 1px solid lightgray;
    justify-content: center;
    font-size: 14px;
    padding-bottom: 80px;
}
#footer {
    display: flex;
    width: 1280px;
    justify-content: center;
    gap: 20px;
}
#footer > hr {
    width: 100%; height: 1px;
    background-color: lightgray;
}
#footer-ad {
    height: 150px;
}
#footer img {
    width: 40px; height: 40px;
}