.news-table {
    padding: 0;
}
.news-table > div {
    margin: 20px;
}
.news-table > #block-menu-wrapper {
    padding: 0;
}
#news-shortcut {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background: var(--border-color);
    padding: 0;
    gap: 1px;
    overflow: hidden;
    border-radius: 5px;
}
#news-shortcut > a {
    display: flex;
    width: 100%; height: 55px;
    justify-content: center;
    align-items: center;
    background: white;
}
#news-shortcut > a > div {
    width: 100%; height: 25px;
    background-image: var(--s);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#news-headline {
    background-color: var(--border-color);
    border-radius: 5px;
    justify-content: space-between;
    padding: 15px;
}