.shopping {
    padding: 0;
}
.shopping-table > .flex-v {
    display: grid;
    padding: 20px 20px 0 20px;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
#shop-list {
    height: 100%;
}
#shop-list > .shop-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100% - 40px - 20px);
    background: var(--border-color);
    border-radius: 5px;
    font-size: 13px;
    padding: 20px 10px;
}
#shop-list > div.flex-v {
    padding: 10px 0;
}
.shopping-table > div > div.flex-v {
    gap: 20px;
}
.shop-item {
    font-size: 15px;
}
.shop-item > img {
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
.shopping-my {
    font-size: 14px;
}
.shopping-my > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: red;
    color: white;
    width: 18px; height: 18px;
    font-size: 12px;
}
#shopping-bottom {
    background: var(--border-color);
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 5px;
}
#shopping-side {
    padding-bottom: 5px;
    font-size: 15px;
}
#shopping-side > img {
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
#shopping-ad-mark {

}